body { 
  text-align: center;
  background-color: rgb(50, 50, 50);
  color: rgb(200, 200, 200);
}

.Board {
  padding: 1em;
  border: 2px solid black;
}

.Sidebar {
  border: 2px solid black;
  padding: 1em;
}

.Tile {
  display: inline-block;
}

.TileButton {
  height: 4em;
  width: 4em;
}

.Tile-R {
  background-color: rgb(0, 0, 0);  
}

.Tile-S {
  background-color: rgb(133,103,28);  
}

.Tile-T {
  background-color: rgb(48,183,0);  
}

.Tile-F1 {
  background-color: rgb(247, 55, 24);  
}

.Tile-F2 {
  background-color: rgb(247, 55, 24);  
}